
.contenedor-precios {
    max-width: 1000px; 
}


#tabla-destinos thead th {
    background-color: #d35400 !important; /* !important asegura que sobreescriba a Bootstrap */
    color: white !important;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: none;
}


#tabla-destinos tbody tr {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease, box-shadow 0.2s ease;
}

#tabla-destinos tbody tr:hover {
    transform: scale(1.015); /* Efecto de acercamiento */
    background-color: #ffc08c !important; /* Tu naranja claro original */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    position: relative;
    z-index: 10; /* Evita que la sombra quede por debajo de las otras filas */
}

/* 4. Soporte para Dark Mode */
.dark-mode #tabla-destinos tbody tr:hover {
    background-color: #cd5911 !important; /* Tu naranja oscuro para modo noche */
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

